@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer components {
  h1 {
    @apply text-2xl font-bold text-white font-magra;
  }

  h2 {
    @apply text-2xl font-bold text-white font-magra;
  }

  h3 {
    @apply text-xl font-semibold text-white font-magra;
  }

  main {
    @apply mx-auto max-w-md xl:max-w-xl min-h-screen ;
  }

  a {
    @apply text-gray-100 underline hover:text-gray-100;
  }

  button {
    @apply bg-purple text-white w-full px-4 py-2 rounded-3xl text-lg font-magra font-semibold;
  }

  p {
    @apply font-sans font-semibold text-base;
  }

  h5 {
    @apply font-sans font-normal text-xs text-gray-100;
  }

}

@layer utilities {
  .container {
    @apply bg-custom-gradient mx-auto max-w-md xl:max-w-xl min-h-screen p-6 flex flex-col items-center;
  }

  .bg {
    @apply bg-[#2D2D2D] z-0 absolute inset-0 bg-cover bg-center  mx-auto max-w-md xl:max-w-xl min-h-screen;
  }

  .answer-card {
    @apply bg-white hover:bg-slate-50 text-purple rounded-2xl p-4 cursor-pointer;
  }

  .input-field {
    @apply bg-white text-base p-4 rounded-[8px] w-full border
  }

  .error-text {
    @apply absolute text-red font-normal text-sm -bottom-5 pl-1
  }

  .fixed-container {
    position: fixed;
    top: 60%;
    width: 100%;
    max-width: 400px; 
  }
  
  .home-p {
    @apply font-light text-sm md:font-semibold md:text-base
  }

  .internal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }

  .search-container {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    z-index: 1;
    width: 100%;
  }
  
  .search-icon {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .inner-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .inner-table th, .inner-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .inner-table th {
    background-color: #e9e9e9;
  }
  

  .default {
    font-style: italic;
    color: grey;
  }

  .action-buttons {
    display: flex;
    gap: 5px;
  }
  
  .editButton {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 5px 10px;
  }
  
  .deleteButton {
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:hover {
    background-color: #ccc;
  }
  
}
