@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer components {
  h1 {
    @apply text-2xl font-bold text-white font-magra;
  }

  h2 {
    @apply text-2xl font-bold text-white font-magra;
  }

  h3 {
    @apply text-xl font-semibold text-white font-magra;
  }

  main {
    @apply mx-auto max-w-md xl:max-w-xl min-h-screen;
  }

  a {
    @apply text-gray-100 underline hover:text-gray-100;
  }

  button {
    @apply bg-purple text-white px-4 py-2 rounded-3xl text-lg font-magra font-semibold;
  }

  p {
    @apply font-sans font-semibold text-base;
  }

  h5 {
    @apply font-sans font-normal text-xs text-gray-100;
  }
}

@layer utilities {
  .container {
    @apply bg-custom-gradient mx-auto max-w-md xl:max-w-xl min-h-screen p-6 flex flex-col items-center;
  }

  .bg {
    @apply bg-[#2D2D2D] z-0 absolute inset-0 bg-cover bg-center  mx-auto max-w-md xl:max-w-xl min-h-screen;
  }

  .answer-card {
    @apply bg-white hover:bg-slate-50 text-purple rounded-2xl p-4 cursor-pointer;
  }

  .input-field {
    @apply bg-white text-base p-4 rounded-[8px] w-full border;
  }

  .error-text {
    @apply absolute text-red font-normal text-sm -bottom-5 pl-1;
  }

  input {
    @apply text-base rounded-[8px] border;
  }

  .fixed-container {
    position: fixed;
    top: 60%;
    width: 100%;
    max-width: 400px;
  }

  .home-p {
    @apply font-light text-sm md:font-semibold md:text-base;
  }

  .title {
    color: grey;
    padding-bottom: 30px;
  }

  .internal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-container {
    position: sticky;
    top: -24px;
    background-color: white;
    padding: 10px;
    z-index: 1;
    width: 100%;
  }

  .search-icon {
    margin-right: 10px;
    margin-right: 10px;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: px;
  }

  th {
    background-color: #f2f2f2;
  }

  .default {
    font-style: italic;
    color: grey;
  }

  .action-buttons {
    gap: 5px;
  }

  .editButton {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 5px 10px;
  }

  .editTextBox {
    width: 100%;
    height: 100px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .deleteButton {
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  .creation-date-header {
    background-color: #fdbfbf;
  }

  .number-of-answers-header {
    background-color: #ecf07d;
  }
  .creation-date-cell {
    background-color: #fbe1e1;
  }

  .number-of-answers-cell {
    background-color: #f2f3d6;
  }
  .eula {
    text-align: center;
  }
  .eula-black {
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
